#mainmenu {
	font-style: italic;
	font-size: 18px;
	font-family: "Georgia",serif;
	height: 37px;
    border-bottom: 1px solid #6d6d6d;
    margin-left: 20px;
    margin-top:20px;
    max-width: 578px
}
#mainmenu>ul{
    padding: 0px;
    margin: 0px;
}
.menuelements{
    float:left;
    margin-right:1px;
    margin-left: 1px;
    position:relative;
    list-style: none;
    background-color: #cfcfcf;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}
#mainmenu .list{
    display:block;
    padding:5px;
    color:black;
    text-decoration:none;
}
#mainmenu .list:hover{
    color: #8c8c8c;
}
/*to persist the color on link*/
#mainmenu li:hover .list{
    color: #8c8c8c;
}
#mainmenu li:hover {
    color: #8c8c8c;
    margin-left: 0px;
    margin-right: 0px;
}
#mainmenu ul li ul{
	display: none;
}
#mainmenu ul li:hover ul{ 
	display: block;
    padding-left: 0px;
    font-size: 14px;
    position: absolute;
    margin-left: -11px;
    width: 180px;
    border: solid 1px #000;
    z-index: -1;
    border-top: 0px;
    margin-top: 3px;
    color: #8c8c8c;
    margin-bottom: 5px;
}
#mainmenu ul li:last-child:hover ul{
    margin-left: -72px;
    text-align: right;
}
#mainmenu .menuelements:hover { 
    border: 1px solid black;
    border-bottom:0px;
    background-color: #fff;
    color: red;
}
.menuelements ul li{
    padding-right: 5px;
    list-style: none;
    border-bottom: 1px solid #cfcfcf;
    color: black;
    padding:0px 5px 5px 5px;
    text-decoration:none;
    margin-bottom: 10px;
}
.menuelements ul li:last-child{
    border-bottom: 0px;
}
.subsubList{
    color: black;
    text-decoration:none;
}
.subsubList:hover{
    color: #bd0707;
}
