body{
	margin: 0;
}
#outer{
	min-width: 1000px;
	max-width: 1000px; 
	margin: 0 auto;
}
#headerdiv{
	font-family:Tahoma, arial, sans-serif;
	font-size: 24px;
	color: black;
	text-align: center;
	border-bottom: 2px solid #0ab1ff;
	background-color: #b2e7ff;
	padding: 20px; 	
}
#centerdiv{
	display: table;
	width: 1000px;
}
#leftdiv {
	display: table-cell;
	width: 250px;
	background-color:  #0ab1ff;
	padding: 25px 10px;
	font-family:Tahoma, arial, sans-serif;
	font-size: 12px;
	color: black;
}
#leftdiv #leftheading{
	font-size: 18px;
	font-family:Tahoma, arial, sans-serif;
	color: black;
	padding-bottom: 10px;

}
#links{
	position: relative;
	left: 0px;
}
#links ul{
	padding: 0px 0px 0px 15px;
}
#links ul li{
	color: #fff;
	font-size: 14px;
	font-family:Tahoma, arial, sans-serif;
	text-decoration: none;
	padding-bottom: 15px;
	left: 0px;
}
#leftdiv #links ul li a{
	color: #fff;
	font-size: 14px;
	font-family:Tahoma, arial, sans-serif;
	text-decoration: none;
}
#rightdiv{
	display: table-cell;
	width: 750px;
	font-family:Tahoma, arial, sans-serif;
	color: black;
	background-color: #ededed;
}
#rightdiv #rightheading{
	font-family:Tahoma, arial, sans-serif;
	font-size: 24px;
	color: black;
}
#rightdiv #rightpara{
	font-family:Tahoma, arial, sans-serif;
	font-size: 14px;
	color: #802525;
}
#footerdiv{

	font-family:Tahoma, arial, sans-serif;
	font-size: 24px;
	color: black;
	text-align: center;
	border-bottom: 2px solid #0ab1ff;
	background-color: #3cff78;
	padding: 20px;
}